.hero-section {
    padding-bottom: 171px;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left-info {
    width: 570px;
    height: auto;
    padding-bottom: 66px;

    .hero-left-info-h1 {
        color: #FFF;
        font-family: Orbitron;
        font-size: 70px;
        font-style: normal;
        font-weight: 700;
        line-height: 144%;
        /* 100.8px */
        letter-spacing: 1.05px;
    }

    span {
        background: linear-gradient(230deg, #D74037 0%, #E94A68 42.94%, #D735AC 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Orbitron;
        font-size: 70px;
        font-style: normal;
        font-weight: 700;
        line-height: 144%;
        letter-spacing: 1.05px;
        border-bottom: 2px solid #D74037;
    }
}

.hero-left-desc {
    width: 582px;
    padding-bottom: 80px;

    .hero-left-desc-p {
        color: rgba(255, 255, 255, 0.80);
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 158%;
        /* 31.6px */
    }
}

.hero-left-btns {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 22px;

    .hero-left-btn-one {
        width: 192px;
        padding: 15px 25px;
        text-align: center;
        border-radius: 0px 18px;
        background: linear-gradient(239deg, #D74037 0%, #E94A68 36.83%, #D735AC 80.62%);
        cursor: pointer;
        color: #FFF;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 108%;
        /* 15.12px */
    }

    .hero-left-btn-two {
        width: 192px;
        text-align: center;
        padding: 15px 25px;
        cursor: pointer;
        color: #FFF;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 108%;
        border-radius: 0px 18px;
        border: 2px solid red;
        /* 15.12px */
    }
}

.hero-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-right-imgs {
    padding-bottom: 64px;

    img {
        cursor: pointer;
    }
}

.hero-right-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-right-rating-box {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .hero-right-rating-h3 {
        color: #FFF;
        font-family: Orbitron;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 144%;
        /* 46.08px */
    }

    .hero-right-rating-p {
        color: rgba(255, 255, 255, 0.80);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 24px */
    }
}