.join-section {
    padding-top: 112px;
    padding-bottom: 116px;
}

.join-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.join {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    width: 1168px;
    height: 347px;
    background: linear-gradient(265deg, rgba(215, 64, 55, 0.10) 0%, rgba(233, 74, 104, 0.10) 45.39%, rgba(215, 53, 172, 0.10) 94.69%);
}

.join-info-h2 {
    color: #FFF;
    font-family: Orbitron;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 144%;
    /* 51.84px */
}

.join-info-p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 230%;
    /* 46px */
}

.join-info-btn {
    width: 192px;
    text-align: center;
    padding: 15px 25px;
    border-radius: 0px 18px;
    background: linear-gradient(239deg, #D74037 0%, #E94A68 36.83%, #D735AC 80.62%);
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 108%;
    /* 15.12px */
    cursor: pointer;
}